.markdown-section {
    color: var(--secondary);
    width: 780px;
    margin-top: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    font-size: 16px;
}

.markdown-section h1 {
    font-size: 48px;
}

.markdown-section h2 {
    font-size: 32px;
}

.markdown-section h3 {
    font-size: 18px;
}

.markdown-section h4 {
    font-size: 16px;
}

.markdown-section img {
    max-width: 100%;
    border-radius: 4px;
}

/* Mobile */
@media (max-width: 768px) {
    .markdown-section {
        width: 100%;
        font-size: 16px;
    }

    .markdown-section h1 {
        font-size: 36px;
    }

    .markdown-section h2 {
        font-size: 24px;
    }

    .markdown-section h3 {
        font-size: 18px;
    }

    .markdown-section h4 {
        font-size: 14px;
    }
}
